<div class='bg-[url("top.jpg")] h-[calc(100vh-134px)] relative bg-center'>
  <div class='absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full text-center sm:text-2xl text-3xl text-white'>
    <h1 class='font-bold'>RUNTEQ BOARD APP</h1>
  </div>
</div>