<header class="navbar bg-base-100">
  <%= link_to root_path, class: "btn btn-ghost normal-case text-xl" do %>
  <% end %>

  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><%= link_to 'ログイン', login_path, class: "justify-between" %></li>
      </ul>
    </div>
    <ul class="menu menu-horizontal p-0 hidden lg:flex">
      <li><%= link_to 'ログイン', login_path, class: "" %></li>
    </ul>
  </div>
</header>
