<nav class="bg-blue-500 p-4 text-white">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-lg font-bold">Outspire</a>
    <div>
      <a href="#" class="btn btn-ghost btn-sm rounded-btn">新規登録</a>
      <a href="#" class="btn btn-ghost btn-sm rounded-btn">ログイン</a>
    </div>
  </div>
</nav>
